html {
  height: 100%;
  width: 100%;
}
	
body { 
	font-family: Futura;
}

h1 {
	text-align: center;
}

#container {
  margin: auto;
  /* height:50%;
  width: 50%; */
  max-height: fit-content;
  max-width: fit-content;
  min-width: fit-content;
  align-items: center;
  justify-content: center;
}

.board { 
	padding: 1em;
	height: 200px;
	width: 200px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	background-color: hotpink;
	border: 3px double royalblue;
}

.square { 
	background-color: aquamarine;
	justify-self: center;
	align-self: center;
	height: 90%;
	width: 90%;
}